<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="spring.schedule.repository.SelectScheduleMapper">
	<select id="selectAll"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT s.id AS id
		, s.userid AS userid
		, s.scheduledate AS scheduledate
		, s.starttime AS starttime
		, s.endtime AS endtime
		,s.schedule AS schedule
		, s.schedulememo AS schedulememo
		FROM
		java_study.schedule s
	</select>
	<select id="selectById"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
		s.id AS id
		, s.userid AS userid
		, s.scheduledate AS scheduledate
		, s.starttime AS starttime
		, s.endtime AS endtime
		,s.schedule AS schedule
		, s.schedulememo AS schedulememo
		FROM
		java_study.schedule s
		where
		s.id = #{id}
	</select>
	<select id="selectAllByDate"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
		s.id AS id
		, s.userid AS userid
		, s.scheduledate AS scheduledate
		,s.starttime AS starttime
		, s.endtime AS endtime
		, s.schedule AS schedule
		, s.schedulememo AS schedulememo
		FROM java_study.schedule s WHERE
		s.scheduledate = #{scheduledate}
	</select>
	<select id="selectAllById"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
		s.id AS id
		, s.userid AS userid
		, s.scheduledate AS scheduledate
		,s.starttime AS starttime
		, s.endtime AS endtime
		, s.schedule AS schedule
		, s.schedulememo AS schedulememo
		FROM java_study.schedule s WHERE
		s.id = #{id}
	</select>
	<insert id="insertNewSchedule" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO java_study.schedule(userid,scheduledate,
		starttime,endtime,schedule,schedulememo)
		VALUES(
		#{userid},
		#{scheduledate},
		#{starttime},
		#{endtime},
		#{schedule},
		#{schedulememo})
	</insert>
	<delete id="deleteSchedule">
	DELETE
	FROM
	java_study.schedule s
	WHERE
	s.id = #{id}
	</delete>
</mapper>