<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="spring.schedule.repository.SelectScheduleMapper">
	<select id="selectAll"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT 
		*
		FROM
		java_study.schedule s
	</select>
	<select id="selectById"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
		*
		FROM
		java_study.schedule s
		where
		s.id = #{id}
	</select>
	<select id="selectByDate"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
		*
		FROM
		java_study.schedule s WHERE
		s.scheduledate = #{scheduledate}
	</select>
	<select id="selectByUserId"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
		*
		FROM
		java_study.schedule s
		WHERE
		s.userid = #{userId}
		AND
		s.scheduledate = #{scheduledate}
	</select>
	<select id="selectUpdateDay" resultType="String">
		SELECT
		s.updateday as updateday
		FROM
		java_study.schedule s
		WHERE
		s.id = #{id}
	</select>
	<insert id="insertNewSchedule" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO java_study.schedule(userid,scheduledate,
		starttime,endtime,schedule,schedulememo)
		VALUES(
		#{userid},
		#{scheduledate},
		#{starttime},
		#{endtime},
		#{schedule},
		#{schedulememo})
	</insert>
	<delete id="deleteSchedule">
		DELETE
		FROM
		java_study.schedule
		WHERE
		id = #{id}
	</delete>
	<update id="updateSchedule">
		UPDATE java_study.schedule SET
		scheduledate =
		#{scheduledate},
		starttime = #{starttime},
		endtime = #{endtime},
		schedule = #{schedule},
		schedulememo = #{schedulememo},
		updateday =
		#{updateday}
		WHERE id = #{id}
	</update>
</mapper>