<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.schedule.repository.SelectUserMapper">
	<select id="selectAllUser"
		resultType="spring.schedule.entity.UserInfoEntity">
		SELECT
		u.id as id
		, u.username
		, u.pass as pass
		, u.roll as roll
		FROM
		java_study.usertable u
	</select>
	<select id="selectUserId"
		resultType="spring.schedule.entity.UserInfoEntity">
		SELECT
		u.id as id
		FROM
		java_study.usertable u
		WHERE
		u.username = #{username}
	</select>
		<select id="selectUserByUserName"
		resultType="spring.schedule.entity.UserInfoEntity">
		SELECT
		u.id as id
		, u.username
		, u.pass as pass
		, u.roll as roll
		FROM
		java_study.usertable u
		WHERE
		u.username = #{username}
	</select>
</mapper>