<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>スケジュール管理</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
<!--～～～～～～～～～～ jQuery Core ～～～～～～～～～～-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!--～～～～～～～～～～ jQuery UI ～～～～～～～～～～-->
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<!--～～～～～～～～～～ css ～～～～～～～～～～-->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">

<script>
	$(function() {
		$("#datepicker").datepicker({
			dateFormat : 'yy/mm/dd'
		});
	});
</script>
</head>
<body>
<!--～～～～～～～～～～ ホームページに戻るボタン ～～～～～～～～～～-->
	<div>
		<a th:href="@{'/index'}"><button>ホームページに戻る</button></a>
	</div>
<!--～～～～～～～～～～ カレンダーに戻るボタン ～～～～～～～～～～-->
	<div>
		<p>
			<a href="displayCalendar.html"
				th:href="@{/displayCalendar/date(year=*{dayEntity.getCalendarYear()},
				month=*{dayEntity.getCalendarMonth()})}"><button>カレンダーに戻る</button></a>
		</p>
	</div>
<!--～～～～～～～～～～ スケージュール情報を新規登録フォーム ～～～～～～～～～～-->
	<h4 align="center">スケージュール情報を新規登録フォーム</h4>
		<div th:if="${validationError}" th:each="error : ${validationError}">
			<p style="color: red;" th:text="${error}"></p>
		</div>
	<form method="POST" th:action="@{/schedule/createSchedule}" th:object="${schedule}">
		<table>
		<!--～～～～～～～～～～ スケージュール日付 ～～～～～～～～～～-->
			<tr>
				<th class="cell_title">スケージュール日付</th>
				<th class="cell_required"></th>
			<td><input type="text" th:field="*{scheduledate}" id="datepicker"></td>
			</tr>
			<!--～～～～～～～～～～ 開始時間 ～～～～～～～～～～-->
			<tr>
				<th class="cell_title">開始時間</th>
				<th class="cell_required"></th>
				<td>
					<input type="time" th:field="*{starttime}">
				</td>
			</tr>
			<!--～～～～～～～～～～ 終了時間 ～～～～～～～～～～-->
			<tr>
				<th class="cell_title">終了時間</th>
				<th class="cell_required"></th>
				<td>
					<input type="time" th:field="*{endtime}">
				</td>
			</tr>
			<!--～～～～～～～～～～ スケジュール内容 ～～～～～～～～～～-->
			<tr>
				<th class="cell_title">スケジュール内容</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{schedule}"></td>
			</tr>
			<!--～～～～～～～～～～ メモ ～～～～～～～～～～-->
			<tr>
				<th class="cell_title">メモ</th>
				<th class="cell_required"></th>
				<td><input type="text" th:field="*{schedulememo}"></td>
			</tr>
		</table>
		<!--～～～～～～～～～～ 登録ボタン ～～～～～～～～～～-->
		<div class="btn_area_center">
			<input type="submit" value="登録" />
		</div>
		<!--～～～～～～～～～～ クリアボタン ～～～～～～～～～～-->
		<div class="btn_area_center">
			<input type="reset" value="クリア" />
		</div>
	</form>
</body>
</html>