<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>スケジュール管理</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<div>
		<a th:href="@{'/index'}"><button>ホームページに戻る</button></a>
	</div>
	<h4 align="center">入力したスケージュール情報</h4>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>ユーザID</th>
				<th>スケジュール日付</th>
				<th>開始時間</th>
				<th>終了時間</th>
				<th>スケジュール内容</th>
				<th>メモ</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="data : ${schedule}">
				<td><p th:text="${data.id}">ID</p></td>
				<td><p th:text="${data.userid}">ユーザID</p></td>
				<td><p th:text="${#dates.format(data.scheduledate,'yyyy/MM/dd')}">スケジュール日付</p></td>
				<td><p th:text="${data.starttime}">開始時間</p></td>
				<td><p th:text="${data.endtime}">終了時間</p></td>
				<td><p th:text="${data.schedule}">スケジュール内容ID</p></td>
				<td><p th:text="${data.schedulememo}">メモ</p></td>
			</tr>
		</tbody>
	</table>
	<div>
		<p>
			<a href="calendar.html"
				th:href="@{/calendar/date(year=*{dayEntity.getCalendarYear()},
				month=*{dayEntity.getCalendarMonth()})}"><button>カレンダーに戻る</button></a>
		</p>
	</div>
</body>
</html>