<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="/css/calendar.css" rel="stylesheet"></link>
<title>スケジュール管理</title>
</head>
<body>
	<!--～～～～～～～～～～ ホームページに戻るボタン～～～～～～～～～～-->
	<div>
		<a th:href="@{'/index'}"><button>ホームページに戻る</button></a>
			<!--～～～～～～～～～～ スケジュール新規登録ボタン～～～～～～～～～～-->
	<a href="createScheduleForm.html"
		th:href="@{/schedule/showNewScheduleForm(year=*{dayEntity.getCalendarYear()},
				month=*{dayEntity.getCalendarMonth()})}">
		<button>スケジュール新規登録</button>
	</a>
	</div>

	<!--～～～～～～～～～～ カレンダー表示 ～～～～～～～～～～-->
	<div th:object="${calendarInfo}">

		<a href="displayCalendar.html"
			th:href="@{/displayCalendar/createCalendar(year=*{yearOfPrevMonth},
				month=*{monthOfPrevMonth})}"><button>&larr;先月</button></a> <a
			href="displayCalendar.html"
			th:href="@{/displayCalendar/createCalendar(year=*{yearOfNextMonth},
				month=*{monthOfNextMonth})}"><button>来月&rarr;</button></a> <a
			href="displayCalendar.html"
			th:href="@{/displayCalendar/createCalendar(year=*{currentYear},
				month=*{currentMonth})}">
			<button>今月</button>
		</a><br> 
		
		<a href="displayCalendar.html"
			th:href="@{/displayCalendar/setSessionAttribute(displayMode='allUser')}"><button>全員のスケジュールを表示</button></a> 
		<a href="displayCalendar.html"
			th:href="@{/displayCalendar/setSessionAttribute(displayMode='loginUser')}"><button>個人のスケジュールを表示</button></a>
		<br>
		<span th:text="*{firstDayOfMonth.toString('yyyy年M月')}"></span><br> 

		<table border=1 style="width: 110%">
			<tr>
				<th>日</th>
				<th>月</th>
				<th>火</th>
				<th>水</th>
				<th>木</th>
				<th>金</th>
				<th>土</th>
			</tr>
			<tr th:each="week : *{calendar}">
				<td th:each="day : ${week}">
				<th:block th:text="${day.getDay().getDayOfMonth()}"></th:block> 
				<img style="width: 35%" th:src="@{${day.getWeatherIcon() != null ? day.getWeatherIcon() : ''}}"/>
				<small th:text="${day.getWeatherDescription()}"></small>
					<div th:each="schedule : ${day.getScheduleList()}">
						<a href="showScheduleDetail.html"
							th:href="@{/displayCalendar/schedule(id=${schedule.getId()})}"> 
							<!-- <img src="/images/calendar.png" /> -->
							<small th:text="${schedule.getUsername() != null ? schedule.getUsername() + ':' + 
							schedule.getSchedule() : ''}"></small> 
						</a>
					</div>
					</td>
			</tr>
		</table>
	</div>
</body>
</html>