<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>エラー</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<!--～～～～～～～～～～ ホームページに戻るボタン ～～～～～～～～～～-->
	<div>
		<a th:href="@{'/index'}"><button>ホームページに戻る</button></a>
	</div>
	<!--～～～～～～～～～～ カレンダーに戻るボタン ～～～～～～～～～～-->
	<div>
		<p>
			<a href="displayCalendar.html"
				th:href="@{/displayCalendar/date(year=*{dayEntity.getCalendarYear()},
				month=*{dayEntity.getCalendarMonth()})}"><button>カレンダーに戻る</button></a>
		</p>
	</div>

	<h1 align="center">【エラー】</h1>
	<h3 style="color: red;" th:text="${errorMessage}"></h3>

	<h1 align="center">【エラー詳細】</h1>
	<h5 style="color: red;" th:text="${stackContent}"></h5>
</body>
</html>