<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>ホームページ</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<div>
		<form name="logoutForm" th:hidden="true" method="post"
			th:action="@{/logout}">
			<input type="submit" value="ログアウト" />
		</form>
		<a href="javascript: logoutForm.submit();"><button>ログアウト</button></a>
		<p align="center" th:text="'ようこそ、' + ${username} + '様' "></p>
	</div>
	<div align="center">

	</div>
	<h1 align="center">スケジュール管理</h1>
	<div align="center">
		<a th:href="@{selectById}"><button>IDで検索</button></a>
	</div>
	<div align="center">
		<a th:href="@{selectAll}"><button>全件検索</button></a>
		<div align="center">
			<a th:href="@{selectAllUser}"><button>ユーザー情報全件検索</button></a>
		</div>
	</div>
	<div align="center">
		<a th:href="@{displayCalendar}"><button>カレンダー表示画面</button></a>
	</div>

</body>
</html>