<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>スケジュール情報一覧</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<div>
		<a th:href="@{'/index'}"><button>ホームページに戻る</button></a>
	</div>
	<h1>スケジュール情報一覧</h1>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>ユーザID</th>
				<th>日付</th>
				<th>開始時間</th>
				<th>終了時間</th>
				<th>スケジュール</th>
				<th>メモ</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="schedule : ${scheduleList}" th:object="${schedule}">
				<td class="center" th:text="*{id}"></td>
				<td th:text="*{userid}"></td>
				<td th:text="${#dates.format(schedule.scheduledate,'yyyy/MM/dd')}"></td>
				<td th:text="*{starttime}"></td>
				<td th:text="*{endtime}"></td>
				<td th:text="*{schedule}"></td>
				<td th:text="*{schedulememo}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>