<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>スケジュール情報・ID検索画面</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<div>
		<a th:href="@{'/index'}"><button>ホームページに戻る</button></a>
	</div>
	<h3>IDでスケジュール情報を参照する画面</h3>
	<form th:action="@{/selectById}" th:object="${scheduleSearchRequest}"
		th:method="post">
		<div>
			ID：<input type="text" name="id" size="40" />
		</div>
		<br />
		<div>
			<input type="submit" value="IDで検索" style="width: 100px;" />
		</div>
		<br />
	</form>

	<div th:if="${selectByIdInfo}">
		<table th:object="${selectByIdInfo}">
			<tr>
				<th class="cell_title">ID</th>
				<td th:text="*{id}"></td>
			</tr>
			<tr>
				<th class="cell_title">ユーザID</th>
				<td th:text="*{userid}"></td>
			</tr>
			<tr>
				<th class="cell_title">スケジュール日付</th>
				<td
					th:text="${#temporals.format(selectByIdInfo.scheduledate,'yyyy/MM/dd')}"></td>
			</tr>
			<tr>
				<th class="cell_title">開始時間</th>
				<td th:text="${#temporals.format(selectByIdInfo.starttime,'HH:mm')}"></td>
			</tr>
			<tr>
				<th class="cell_title">終了時間</th>
				<td th:text="${#temporals.format(selectByIdInfo.endtime,'HH:mm')}"></td>
			</tr>
			<tr>
				<th class="cell_title">スケジュール内容</th>
				<td th:text="*{schedule}"></td>
			</tr>
			<tr>
				<th class="cell_title">メモ</th>
				<td th:text="*{schedulememo}"></td>
			</tr>
			<tr>
				<th class="cell_title">更新日</th>
				<td th:text="${#temporals.format(selectByIdInfo.updateday,'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
		</table>
	</div>
</body>
</html>