<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>スケジュール管理</title>
<link href="/css/list.css" rel="stylesheet"></link>
<meta charset="utf-8" />
</head>
<body>
	<h3>スケジュール情報一覧</h3>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>ユーザID</th>
				<th>スケジュール日付</th>
				<th>開始時間</th>
				<th>終了時間</th>
				<th>スケジュール内容ID</th>
				<th>メモ</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="schedule : ${scheduleList}">
				<td><p th:text="${schedule.id}">ID</p></td>
				<td><p th:text="${schedule.userid}">ユーザID</p></td>
				<td><p th:text="${#dates.format(schedule.scheduledate,'YYYY/MM/DD')}">スケジュール日付</p></td>
				<td><p th:text="${schedule.starttime}">開始時間</p></td>
				<td><p th:text="${schedule.endtime}">終了時間</p></td>
				<td><p th:text="${schedule.schedule}">スケジュール内容ID</p></td>
				<td><p th:text="${schedule.schedulememo}">メモ</p></td>
			</tr>
		</tbody>
	</table>
</body>
</html>