<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="spring.schedule.mapper.SelectScheduleMapper">
	<select id="selectAll"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT 
			s.id AS id
			, s.userid AS userid
			, s.scheduledate AS scheduledate
			, s.starttime AS starttime
			, s.endtime AS endtime
			,s.schedule AS schedule
			, s.schedulememo AS schedulememo
			, s.updatedate AS updatedate
		FROM
			java_study_db.schedule s
	</select>
	<select id="selectById"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
			s.id AS id
			, s.userid AS userid
			, u.user AS username
			, s.scheduledate AS scheduledate
			, s.starttime AS starttime
			, s.endtime AS endtime
			,s.schedule AS schedule
			, s.schedulememo AS schedulememo
			, s.updatedate AS updatedate
		FROM
			java_study_db.schedule s
		LEFT JOIN 
			java_study_db.usertable u
    	ON 
    		s.userid = u.id
		WHERE
			s.id = #{id}
	</select>
	<select id="selectByDate"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
			s.id AS id
			, s.userid AS userid
			, u.user AS username
			, s.scheduledate AS scheduledate
			,s.starttime AS starttime
			, s.endtime AS endtime
			,s.schedule AS schedule
			, s.schedulememo AS schedulememo
			, s.updatedate AS updatedate
		FROM
			java_study_db.schedule s 
		left join 
			java_study_db.usertable u
    	on 
    		s.userid = u.id
		WHERE
			s.scheduledate = #{scheduledate}
	</select>
	<select id="selectByUserId"
		resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
			s.id AS id
			, s.userid AS userid
			, u.user AS username
			, s.scheduledate AS scheduledate
			, s.starttime AS starttime
			, s.endtime AS endtime
			, s.schedule AS schedule
			, s.schedulememo AS schedulememo
			, s.updatedate AS updatedate
		FROM
			java_study_db.schedule s
		left join 
			java_study_db.usertable u
    	on 
    		s.userid = u.id
		WHERE
			s.userid = #{userId}
			AND s.scheduledate = #{scheduledate}
	</select>
	
	<select id="selectLatestId" resultType="Long">
		select
			max(id)
		from
			java_study_db.schedule
	</select>
	
	<select id="selectScheduleUpdatedate" resultType="spring.schedule.entity.ScheduleInfoEntity">
		SELECT
			s.updatedate as updatedate
		FROM
			java_study_db.schedule s
		WHERE
			s.id = #{id}
	</select>
	<insert id="insertNewSchedule" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO java_study_db.schedule(
			userid,scheduledate,
			starttime,endtime,schedule,schedulememo, updatedate)
		VALUES(
			#{userid},
			#{scheduledate},
			#{starttime},
			#{endtime},
			#{schedule},
			#{schedulememo},
			#{updatedate})
	</insert>
	<delete id="deleteSchedule">
		DELETE
		FROM
			java_study_db.schedule 
		WHERE
			id = #{id}
	</delete>
	<update id="updateSchedule">
		UPDATE java_study_db.schedule SET
			scheduledate = #{scheduledate},
			starttime = #{starttime},
			endtime = #{endtime},
			schedule = #{schedule},
			schedulememo = #{schedulememo},
			updatedate = #{updatedate}
		WHERE id = #{id}
	</update>
</mapper>