@charset "UTF-8";

body {
	width: 90%;
}

table {
	border: 1px solid #a9a9a9;
	width: 50%;
	font-size: 20px;
	border-collapse: collapse;
}

tr {
	width: 12%;
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	vertical-align: top;
	margin: 0px;
	padding: 2px;
}

td {
	width: 12%;
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	vertical-align: top;
	margin: 0px;
	padding: 2px;
}

th {
	width: 12%;
	border-top: 1px solid #a9a9a9;
	border-left: 1px solid #a9a9a9;
	vertical-align: top;
	margin: 0px;
	padding: 2px;
	background-color: #f0f8ff;
}

img {
	width: 25%;
	border: 0px;
}

p {
	font-size: 0.75em;
}

.transparency {
	color: #000;
	color: rgba(0, 0, 0, 0.5);
	font-size: 16pt;
	font-family: Arial, sans-serif;
}