@charset "UTF-8";

body {
	width: 99%;
}

table {
	width: 100%;
	border-collapse: collapse;
	font-size: 15px;
}

table th, table td {
	border: 1px solid #ddd;
	padding: 6px;
}

table th {
	background-color: #F2F2F2;
}

table input {
	width: 90%;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.cell_title {
	border-right: 0;
}

.btn_area_center {
	margin-top: 20px;
	text-align: center;
}

.btn {
	width: 100px;
	text-align: center;
}

.cell_title {
border-right: 0;
}

.cell_required{
color: red;
font-size: 12px;
width: 10px;
border-left: 0;
}

error{
color: red;
font-size: 12px;
width: 10px;
border-left: 0;
}