@charset "UTF-8";

body {
  width: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
  font-size: 10px;
}
table th, table td {
    border: 1px solid #ddd;
    padding: 6px;
}
table th {
  background-color: #F2F2F2;
}
.center {
  text-align: center;
}